// main: style.scss

// fonts
$Default-font: 'Helvetica';

// colors
$color-dark-green: #043a32;
$color-dark-green-2: #042621;
$color-dark-green-3: #033a32;
$color-light-green: #015247;

// devices
$size_tablet: 768px;
$size_lp: 1024px;
$size_lpm: 1336px;
$size_lpn: 1440px;
