// main: theme.scss

body {
  color: $default-color;
  font-size: $default-font-size;
  font-family: $default-font-name;
  font-weight: $default-font-weight;
  background-color: $color-dark-green-3;
}
